extends layout

block content
  header#top.header
    .text-vertical-center
    
      if (locals.success)
        .alert.alert-success(style='width:20%; margin:auto')
          a.close(href='#', data-dismiss='alert', aria-label='close') ×
          strong #{message}
          |  Some status explanation here.
      if(locals.failure)
        .alert.alert-danger(style='width:20%; margin:auto')
          a.close(href='#', data-dismiss='alert', aria-label='close') ×
          strong #{message}
          |  Some status explanation here.
                            
    
      h1  Select Action 
      br
      .list-group(style='width:20%; margin:auto')
        a.btn.btn-dark.btn-lg.home-items(href='/users')  View Directory
        br
        a.btn.btn-dark.btn-lg.home-items(href='/chat') Public Chat
        br
        a.btn.btn-dark.btn-lg.home-items(href='/logout') Log Out
        br

        