doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')

  body
    ul#nav
      li
        a(href='/users') Directory
      li
        a(href='/chat') Public Chat
      li
        a(href='/announce') Announcements
      li 
        a(href='/status') Set Status
      li 
        a(href='/search') Search
      li
        a(href='/measure') Measure Performance
      li
        a(href='/logout') Log Out

