extends layout

block content
  header#top.header
    .text-vertical-center

     button.btn.btn-primary(type='submit' onclick='timeout_get()') start
     button.btn.btn-primary(type='submit' onclick='stop()') stop
     br
     p Performance
     br

            


  script(src='js/cookies.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/performance.js')
  