doctype html
html
  head
    meta(charset='utf-8')    
    title getUserMedia 
    link(href='css/main.css', rel='stylesheet')
   

  body 
    div#camera
      video#video(autoplay='')
      br
      button#startbutton Capture
      form(action='/chat')
        input(type="submit", value="Cancel")#cancel
    canvas#canvas
    div#output
      img#photo

    
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src='js/photo.js')