extends layout

block content
  header#top.header
    .text-vertical-center
      h1  Directory
      br

      table(style='width:20%; margin:auto')
        each user in result
          tr 
            td 
              a.btn.btn-dark.btn-lg.home-items=user.username 
            td 
              if (!user.status) 
                a.btn.btn-dark.btn-lg.home-items(disabled='')="Status not set"
              else
                a.btn.btn-dark.btn-lg.home-items=user.status
            td 
      br
      a.btn.btn-dark.btn-lg.home-items(href='/home') Home

