extends layout

block content
  include navigator
  header#top.header
    .text-vertical-center
      h1  Directory
      br

      table(style='width:50%; margin:auto')
        each user in result
          tr 
            td 
              a.btn.btn-dark.btn-lg.home-items(href='/privatechat?receiver='+user.username)=user.username 
            td 
              if (!user.status) 
                a.btn.btn-dark.btn-lg.home-items(disabled='')="Status not set"
              else
                a.btn.btn-dark.btn-lg.home-items=user.status
            td

